<!DOCTYPE html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../js/fullPage_new.js"></script>
</head>

<body onload="pageLoad()">

<div style="text-align: center; margin-top: 10%">
    <h3>Express checkout with Full page redirect</h3>
	<div>
		Amount: <input type="text" id="amountId" value="10" size="4"/>
		Currency : <select id="selectedCurrency">
                    <option value="INR" selected="true">INR</option>
                    
				 </select>
	</div>
	<br><br>
    <button id="paypal-button" onclick="createPayment()">Pay with PayPal</button>
</div>	
<script>

</script>
</body>