<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
  <title>EC BT demo</title>

  <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>
  <script src="https://js.braintreegateway.com/web/3.25.0/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.25.0/js/paypal-checkout.min.js"></script>

</head>

<body>
     
     <div style="text-align: center; margin-top: 10%">
      <label>ECBT-Web integration</label>
          <div>
              Amount: <input type="text" id="amountId" value="1" size="4"/>
              Currency : <select id="selectedCurrency">
                          <option value="INR">INR</option>
                          <option value="USD" selected="true">USD</option>
                       </select>
          </div>
          <br><br>
      
          <div id="paypal-button-container-ecbt"></div>
      </div>
<script>
paypal.Button.render({
    braintree: braintree,
    client: {
      sandbox: paypal.request.get('/api/paypal/ecbt/client_token'),
      production: paypal.request.get('/api/paypal/ecbt/client_token')
    },
    env: 'sandbox', //'production'/'sandbox'
    commit: true,
   // locale:"de_DE",
    style: {
				layout: 'vertical',  // horizontal | vertical
				size:   'medium',    // medium | large | responsive
				shape:  'rect',      // pill | rect
				color:  'gold'       // gold | blue | silver | black
				},

            // funding: {
            //     allowed: [ paypal.FUNDING.CARD ],
            //     disallowed: [ ]
            // },
  
    payment: function (data, actions) {
      return actions.braintree.create({
        flow: 'checkout', // Required
        amount: document.getElementById("amountId").value, // Required
        currency: document.getElementById("selectedCurrency").value // Required
      });
    },
  
    onAuthorize: function (payload) {
        console.log(payload.nonce);
        var EXECUTE_URL = '/api/paypal/ecbt/checkout';
        var executeValues = {
            nonce: payload.nonce,
            amount: 1.00
        };
        return paypal.request.post(EXECUTE_URL, executeValues)
            .then(function (res) {
                window.alert('Payment Complete!');
            });
    },
  }, '#paypal-button-container-ecbt');
</script>
 </body>

</html>
