<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
  <title>ISU demo</title>
  <!-- <script id="paypal-js" src="https://www.paypal.com/webapps/merchantboarding/js/lib/lightbox/partner.js"></script>
  <script  src="./isu.js"></script> -->
</head>

<body>
  
    <div dir="ltr" style="text-align: left;" trbidi="on">
         <script>
      
          (function(d, s, id){
          var js, ref = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)){
            js = d.createElement(s); js.id = id; js.async = true;
            js.src = "https://www.paypal.com/webapps/merchantboarding/js/lib/lightbox/partner.js";
            ref.parentNode.insertBefore(js, ref); }
          }(document, "script", "paypal-js"));

          function signUp() {
             var xhttp = new XMLHttpRequest();
             xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                var action_url = JSON.parse(this.response).links[1].href;
                document.getElementById('actionId').href = action_url+'&displayMode=minibrowser';
                document.getElementById('actionId').click();
              }
            };
          xhttp.open("GET", "/api/paypal/isu/create-referal", true);
          xhttp.send();
         }
      
        </script>
        
        <button id="signup" onclick="signUp()">Sign up for PayPal</button>
        <a data-paypal-button="true" id="actionId" href="action_url&displayMode=minibrowser" target="PPFrame"></a>
      </div>
 </body>

</html>