<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Webhooks listener</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

</head>

<body>
    <h1>Webhooks data</h1>
    <div id="data" class="container-fluid"></div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Webhook details</h4>
                </div>
                <div class="modal-body">
                    <p id="error">Values........</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <script>
        var webhooks = [];
        var config = {
            apiKey: "AIzaSyCAVHyAObAk9kKAAuYeU4a4aggCUVQ6UHs",
            authDomain: "reena-webhooks.firebaseapp.com",
            databaseURL: "https://reena-webhooks.firebaseio.com",
            projectId: "reena-webhooks",
            storageBucket: "reena-webhooks.appspot.com",
            messagingSenderId: "608226426951"
        };
        firebase.initializeApp(config);
        var tableContent = `<table style="width:100%" id="ex-table" class="table table-bordered table-striped table-hover table-condensed">
                <tr id="tr" class="success">                   
                    <th>Webhook ID</th>
                    <th>User</th>
                    <th>Event Type</th> 
                    <th>Resource Id</th>
                    <th>Created Time (UTC) </th> 
                    <th>Summary</th>
                </tr>
            </table>`;

        var webhookRef = firebase.database().ref("/reena-webhooks");
        var arr = [];
        webhookRef.orderByChild('create_time').on("value", function (snapshot) {
            if (snapshot.exists()) {
                $("#data").html(tableContent);
                var content = '';
                arr = [];
                snapshot.forEach(function (data) {
                    var val = data.val();
                    arr.push(val);
                    webhooks.push(val);
                });
                arr = arr.reverse();
                arr.map(function (val, i) {
                    content += '<tr style="text-align:center" id="row-' + i + '">';
                    content += '<td><a onclick=showDetails(' + val +')>'+val.id +'</a></td>';
                    content += '<td>' + val.username + '</td>';
                    content += '<td>' + val.event_type + '</td>';
                    content += '<td>' + val.resource.id + '</td>';
                    content += '<td>' + moment(new Date(val.create_time)).utc().format() + '</td>';
                    content += '<td>' + val.summary + '</td>';
                    content += '</tr>';
                })
                $('#ex-table').append(content);
                $("#row-0").toggleClass("clicked");
            }
        });

        function showDetails(val){
            alert(id);
            console.log(webhooks);
        }
    </script>

</body>
</html>

